<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Добавить пароль</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Добавить новый пароль</h1>

    <form method="POST">
        <!-- Зашита от подделки запросов -->
        {{ form.hidden_tag() }}

        <!-- Форма name -->
        <div>
            <!-- Отабражение таблички из формы -->
            {{ form.name.label }}<br>
            {{ form.name() }}
        </div>

        <!-- Форма username -->
        <div>
            <!-- Отабражение таблички из формы -->
            {{ form.username.label }}<br>
            {{ form.username() }}
        </div>

        <!-- Форма password -->
        <div>
            <!-- Отабражение таблички из формы -->
            {{ form.password.label }}<br>
            {{ form.password() }}
        </div>

        <!-- Кнопка сабмит -->
        <div>
            {{ form.submit }}
        </div>
    </form>
    <div>
        <a href="{{ url_for('personal_main', user=session['user']) }}">← Назад к списку</a>
    </div>
</body>
</html>