<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Удаление пароля</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Удаление пароля</h1>

    <form method="post" action="{{ url_for('delete_password') }}">
        {{ form.hidden_tag() }}

        <div>
            {{ form.name.label }}<br>
            {{ form.name() }}
        </div>

        <div>
            {{ form.username.label }}<br>
            {{ form.username() }}
        </div>

        <div>
            {{ form.submit }}
        </div>
    </form>

    <div>
        <a href="{{ url_for('personal_main', user=session['user']) }}">← Назад к списку</a>
    </div>
</body>
</html>