<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Зарегистрироваться</h1>
    {% if error %}
        <div class="error-message" style="color: red; margin-bottom: 15px;">
            {{ error }}
        </div>
    {% endif %}
    <form method="post" action="{{ url_for('register') }}">
        {{ form.hidden_tag() }}

        <div>
            {{ form.username.label }}
            {{ form.username() }}
        </div>

        <div>
            {{ form.password.label }}
            {{ form.password() }}
        </div>

        <div>
            {{ form.submit }}
        </div>
    </form>

    <div>
        <a href="/login">Войти</a>
    </div>
</body>
</html>